.nav-wrapper  {
  max-width: 100vw;
  background: rgb(247, 156, 46);
  height: 80px;
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    
    a {
      text-decoration: none;
      color: black;
    }
      .brand-logo {
        font-size: 30px;
        padding-top: 20px;
        font-family: 'Times New Roman', Times, serif;
      }
      .right_info {
        display: flex;
        list-style: none;
        li {
          padding-left: 20px;
          padding-top: 23px;
        }
      }
    
  }
  
}
.py-4 {
  width: 100vw;
  height: 100vh;
  .slides {
    position: relative;
    .caption {
      position: absolute;
      top: 500px;
      left: 50%;
      font-size: 60px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }
  img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
  }
  .fadein {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .fadeout {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .slideshow {
    position: absolute;
  }
}
.about {
  height: 900px;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  .title {
    font-size: 65px;
    width: 220px;
    margin: 0 auto;
    color: white;
  }
  .text {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 60px 0;
    line-height: 70px;
  }
  .history {
    color: white;
    text-align: center;
    font-size: 30px;
  }
  .personal_history {
    font-size: 20px;
    color: white;
    padding: 40px 0;
    line-height: 50px;
    margin-left: 30%;
  }
}
.skills {
  height: 1750px;
  width: 100vw;
  text-align: center;
  .skill_info {
    font-size: 65px;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    color: white;
    width: 700px;
    margin: 30px 0;
    border-radius: 5px;
  }
  p {
    font-size: 30px;
  }
  .fade-enter-active {
    transition: all 1.0s ease 0s;
  }
  .fade-leave-active {
    transition: all 0s ease 0s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter {
    transform: translateX(-200px);
  }
  .fade-enter-to,
  .fade-leave {
    transform: translateY(0);
  }
  .fade-leave-to {
    transform: translateX(0);
  }
  .v-enter-active {
    transition: all 1.0s ease 0s;
  }
  .v-leave-active {
    transition: all 0.5s ease 0s;
  }
  .v-enter,
  .v-leave-to {
    opacity: 0;
  }
  .v-enter {
    transform: translateX(-200px);
  }
  .v-enter-to,
  .v-leave {
    transform: translateY(0);
  }
  .v-leave-to {
    transform: translateY(400px);
  }
  button,div {
    margin-bottom: 30px;
  }
  .icon {
    border-top: 1px solid #eee;
    width: 700px;
    margin: 0 auto;
  }
  .fa-html5 {
    color: #ff5733;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li{
      margin: 20px 130px;
      font-size: 20px;
    }
  }
  .fa-css3-alt {
    color: #264de4;
  }
  .fa-js {
    color: #f0db4f;
  }
  .logo {
    font-size: 25px;
    font-weight: bold;
    line-height: 70px;
    font-family: 'Orbitron', sans-serif;
  }
  .jquery {
    color: #0769AD;
  }
  .fa-vuejs {
    color: #41B883;
  }
  .mysql {
    color: #00758F;
  }
  .fa-aws {
    color: #F79C34;
  }
  .heroku {
    color: #C9C3E6;
  }
  .ruby {
    width: 80px;
  }
  .rails {
    width: 80px;
  }
}

.products {
  margin-top: 40px;
  height: 1100px;
  width: 100vw;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  .field {
    height: 170px;
    padding-top: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    .products_title {
      font-size: 65px;
      position: relative;
      display: block;
      width: 700px;
      margin: 20px auto;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      color: #000;
      text-align: center;
      font-weight: bold;
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
      }
    }
    .raise {
      &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {
        border: 1px solid #fff;
        &:before {
          box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
        }
      }
    }
  }
  .product_field {
    position: relative;
    width:			100vw;
    height:			860px;
    overflow:		hidden;
    
  }
  .product_field .myself_text {
    width:			100%;
    height:			100%;
    visibility:		hidden;
    font-size: 50px;
    color:			#fff;
    top: 0;
    left: 0;
    position:		absolute;
    text-align:		center;
    -webkit-transition:	all 0.4s step-end;
    transition:		all 0.4s step-end;
  }
  .product_field:hover .myself_text {
    visibility:		visible;
  }
  .product_field .myself_text p {
    font-size:		130%;
    padding-top:		75px;
    color:			#fff;
    opacity:		0;
  }
  .product_field:hover .myself_text p {
    opacity:		1;
  }
  .product_field .mask1, .product_field .mask2 {
    width:			100%;
    height:			50%;
    position:		absolute;
    left:			0;
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.4s ease;
    transition:		all 0.4s ease;
  }
  .product_field .mask1 {
    top:			-50%;
  }
  .product_field:hover .mask1 {
    top:			0;
  }
  .product_field .mask2 {
    bottom:			-50%;
  }
  .product_field:hover .mask2 {
    bottom:			0;
  }
  img {
    width: 100vw;
    height: 860px;
    
    box-shadow: 0 0 5px rgba(0,0,0,.1);
  }

}
.report {
  display: flex;
  justify-content: center;
  img {
    width: 250px;
    height: 500px;
    margin: 0 10px;
  }
  p{
    padding: 100px 0 0 30px;
    font-size: 30px;
  }
}

.footer {
  align-items: center;
  margin-top: 520px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100vw;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
.fa-twitter {
  color: #65a2ee;
  padding: 0 20px;
}
.fa-github {
  color: white;
  padding: 0 40px 0 20px;
}
